<div class="frontpage">
    <h1>FAST CLI</h1>
    <p>
        Welcome to the FAST CLI. You can use this project to create or maintain a FAST based project.
    </p>
    <div class="card-container">
        <div class="card">
            <h2>Dive in</h2>
            <p>
                Get started with our
                <a href="<%- baseUrl %>/docs/introduction">introduction</a>
                which will explain the fundamentals of how the CLI works and
                what you need to get going.
            </p>
        </div>
        <div class="card">
            <h2>Create a new project</h2>
            <p>
                Create a
                <a href="<%- baseUrl %>/docs/initialize">new project</a>, an easy
                way to get started.
            </p>
        </div>
    </div>
</div>
